<a href="https://colab.research.google.com/github/julwdo/thesis/blob/main/01_codes/01_gcolab/01_thesis_preprocess_jsonl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import joblib

pd.set_option('display.max_columns', None)
#pd.set_option('display.max_colwidth', None)

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

In [ ]:
user = pd.read_json("../../02_data/raw/user.jsonl", lines=True)

user = pd.concat([
    user,
    pd.json_normalize(user["entities"]),
    pd.json_normalize(user["public_metrics"])
    ], axis=1)

user.drop(columns=["entities", "public_metrics"], inplace=True)
user.head(1)

,created_at,description,id,location,name,pinned_tweet_id,profile_image_url,protected,url,username,verified,withheld,url.urls,description.urls,description.mentions,description.hashtags,description.cashtags,followers_count,following_count,tweet_count,listed_count
0,2020-01-16 02:02:55+00:00,Theoretical Computer Scientist. See also https...,u1217628182611927040,"Cambridge, MA",Boaz Barak,NaN,https://pbs.twimg.com/profile_images/125226236...,False,https://t.co/BoMip9FF17,boazbaraktcs,False,None,"[{'start': 0, 'end': 23, 'url': 'https://t.co/...","[{'start': 41, 'end': 64, 'url': 'https://t.co...",NaN,NaN,NaN,7316,215,3098,69

In [ ]:
joblib.dump(user, f"../../02_data/raw/user.joblib")

['../../02_data/raw/user.joblib']

In [ ]:
tweet_0 = pd.read_json("../../02_data/raw/tweet_0.jsonl", lines=True, nrows=1)

tweet_0 = pd.concat([
    tweet_0,
    pd.json_normalize(tweet_0["entities"]),
    pd.json_normalize(tweet_0["public_metrics"])
    ], axis=1)

tweet_0.drop(columns=["entities", "public_metrics"], inplace=True)
tweet_0.head(1)

,attachments,author_id,context_annotations,conversation_id,created_at,geo,id,in_reply_to_user_id,lang,possibly_sensitive,referenced_tweets,reply_settings,source,text,withheld,hashtags,symbols,user_mentions,urls,media,retweet_count,reply_count,like_count,quote_count
0,NaN,1304855289208819713,NaN,1497798545872588801,2022-02-27 04:59:35+00:00,NaN,t1497798545872588801,976935699793539073,en,False,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",@phaseknight_ Although I didn't base this sket...,NaN,[],[],"[{'screen_name': 'phaseknight_', 'name': 'sapp...",[],"[{'id': 1497798542869422086, 'id_str': '149779...",0,None,8,None

In [ ]:


tweet_df = (
    tweet_0[tw_cols_to_select]
    .rename(columns={
        "public_metrics.like_count": "like_count",
        "public_metrics.retweet_count": "retweet_count"
        })
)
tweet_df.head(1)

,author_id,created_at,id,in_reply_to_user_id,lang,source,text,like_count,retweet_count
0,u391092102,2022-03-12 23:12:14+00:00,t1502784561763295233,NaN,en,Twitter Web App,RT @ChelseaSTrust: Join the CST now.\n\n#Toget...,0.0,42.0

In [ ]:
joblib.dump(tweet_df, f"../../02_data/processed/tweet_df.joblib")

['../../02_data/processed/tweet_df.joblib']